/*

0-600px :   phone
600-900px :     tablet portrait
900-1200px :    tablet landscape
[1200-1800] :   normal styles
1800px+ :     big desktop


$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER:
Base + typography
General layout and grid
Page Layout
Change components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

.heading-primary {
  font-size: 6.8rem;
  color: white;
  font-weight: 700;
  line-height: 1.7rem; }

.heading-secondary {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem; }

.heading-tertiary {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.heading-quarternary {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: white; }

.heading-fifth {
  font-weight: 400;
  color: white;
  font-size: 1.3rem;
  line-height: 1.8rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  display: inline-block;
  height: 3rem;
  width: 20rem;
  background-color: white;
  cursor: pointer;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  background: linear-gradient(to right, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: solid 1px white;
  transition: background-position .2s; }
  .btn:hover {
    color: white;
    background-position: left bottom; }
  .btn--black {
    color: white;
    outline: solid 1px black;
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom; }
    .btn--black:hover {
      color: black;
      background-position: left bottom; }
  .btn--white {
    color: black;
    outline: solid 1px white;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom; }
    .btn--white:hover {
      color: white;
      background-position: left bottom; }

.btn--thin {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 13rem;
  color: black;
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5rem;
  position: relative; }
  .btn--thin::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: width .3s;
    position: absolute;
    bottom: 0; }
  .btn--thin:hover::after {
    width: 0;
    right: 0; }

.section-features {
  font-size: 1.6rem;
  line-height: 2.4rem; }
  .section-features:not(:last-child) {
    margin-right: 1.5rem; }
  .section-features__caption {
    display: flex;
    flex-direction: column; }
  .section-features__name {
    font-weight: 700; }
  .section-features__description {
    font-weight: 400;
    width: 50rem;
    flex-wrap: wrap;
    hyphens: auto; }
  .section-features__img {
    width: 50rem;
    height: 35rem;
    object-fit: cover; }
  .section-features__link {
    text-decoration: none;
    color: black; }

.section-hero {
  height: 95vh;
  width: 100vw;
  background-image: url(../img/bg-hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 3rem; }
  .section-hero__paragraph {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    padding: 2rem 0;
    margin-bottom: 2rem; }

.item-showcase {
  font-size: 1.3rem;
  line-height: 1.8rem; }
  .item-showcase:not(:last-child) {
    margin-right: 1.5rem; }
  .item-showcase__caption {
    display: flex;
    justify-content: space-between; }
  .item-showcase__img {
    height: 20rem; }
    .item-showcase__img--big {
      height: 30rem; }
  .item-showcase__name {
    font-weight: 500; }
  .item-showcase__color {
    font-weight: 400;
    font-style: italic; }
  .item-showcase__price {
    font-weight: 500; }

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0; }
  .footer > * {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0; }
  .footer__paragraph {
    color: #89898a;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem; }
  .footer__form--input {
    background-color: black;
    outline: 1px solid white;
    height: 3rem;
    width: 20rem; }
  .footer__list {
    list-style: none; }
  .footer__link {
    text-decoration: none;
    color: #89898a;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #dbdbdc; }
  .footer__copyright {
    display: flex; }
    .footer__copyright > *:not(:last-of-type) {
      margin-right: 1rem; }
    .footer__copyright__paragraph--bold {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      color: white; }
    .footer__copyright--link {
      color: #dbdbdc;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      text-decoration: none; }

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: background-color .2s; }
  .header__sticky {
    background-color: white;
    color: black; }
    .header__sticky .navigation__logo {
      display: none; }
      .header__sticky .navigation__logo--black {
        display: block; }

.navigation {
  display: flex;
  list-style: none;
  background-color: transparent;
  padding: 3rem;
  justify-content: center;
  align-items: center; }
  .navigation__item:not(:last-child) {
    padding-right: 3rem; }
  .navigation__link {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-decoration: none;
    color: inherit; }
  .navigation__logo {
    height: 2rem; }
    .navigation__logo--black {
      display: none; }

.section-best-sellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem; }
  .section-best-sellers__items {
    display: flex; }

.section-the-court {
  display: flex; }
  .section-the-court__left {
    flex: 0 1 50%; }
    .section-the-court__left--img {
      width: 100%; }
  .section-the-court__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7rem; }
    .section-the-court__right--bottom {
      display: flex; }

.section-features {
  margin: 10rem 0; }
  .section-features > * {
    display: flex; }
  .section-features__top {
    flex-direction: column;
    align-items: center; }

.section-social {
  display: flex;
  flex-direction: column; }
  .section-social > * {
    margin-bottom: 4rem; }
  .section-social__header {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    line-height: 2.4rem; }
  .section-social__logo-text {
    font-weight: 700; }
  .section-social__phrase {
    font-weight: 400; }
  .section-social__pictures {
    display: flex; }
  .section-social__img {
    width: 20%; }
  .section-social__options {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    line-height: 1.8rem; }
  .section-social__name {
    font-weight: 700; }
  .section-social__description {
    font-weight: 400;
    width: 27rem; }
