/*

0-600px :   phone
600-900px :     tablet portrait
900-1200px :    tablet landscape
[1200-1800] :   normal styles
1800px+ :     big desktop


$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER:
Base + typography
General layout and grid
Page Layout
Change components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

.heading-primary {
  font-size: 6.8rem;
  color: white;
  font-weight: 700;
  line-height: 1.7rem; }

.heading-secondary {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem; }
  .heading-secondary--white {
    color: white; }

.heading-tertiary {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem; }
  .heading-tertiary--bold {
    font-weight: 700; }

.heading-quarternary {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: white; }

.heading-fifth {
  font-weight: 400;
  color: white;
  font-size: 1.3rem;
  line-height: 1.8rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  display: inline-block;
  height: 3rem;
  width: 20rem;
  background-color: white;
  cursor: pointer;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  background: linear-gradient(to right, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: solid 1px white;
  transition: background-position .2s; }
  .btn:hover {
    color: white;
    background-position: left bottom; }
  .btn--black {
    color: white;
    outline: solid 1px black;
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom; }
    .btn--black:hover {
      color: black;
      background-position: left bottom; }
  .btn--white {
    color: black;
    outline: solid 1px white;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    width: 8rem; }
    .btn--white:hover {
      color: white;
      background-position: left bottom; }

.btn--thin {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 13rem;
  color: black;
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5rem;
  position: relative; }
  .btn--thin::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: width .3s;
    position: absolute;
    bottom: 0; }
  .btn--thin:hover::after {
    width: 0;
    right: 0; }

.btn--inactive {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 13rem;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5rem;
  transition: all .2s; }
  .btn--inactive--small {
    width: 2rem; }

.btn--underlined {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 13rem;
  color: black;
  outline: none;
  border-bottom: 1px solid black;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5rem; }
  .btn--underlined--small {
    width: 2rem; }

.btn--footer {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #3d3d3d;
  border: none; }

.btn--arrow,
.btn--plus {
  cursor: pointer;
  border: none;
  background-color: black;
  width: 2rem;
  height: 2rem;
  color: white;
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 50%;
  padding-bottom: 2.4rem;
  margin: 0 5rem; }

.btn--color {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: none; }
  .btn--color__khaki {
    background-color: #e7e2bc; }
  .btn--color__green {
    background-color: #2d4630; }
  .btn--color__blue {
    background-color: #2d3446; }
  .btn--color:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.418); }

.btn--cart {
  width: 100%;
  height: 5rem;
  background-color: lightgray;
  outline: none;
  border: none;
  color: white; }

.right-button,
.left-button,
.right-button--2,
.left-button--2 {
  cursor: pointer;
  border: none;
  background-color: black;
  width: 2rem;
  height: 2rem;
  color: white;
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 50%;
  padding-bottom: 2.4rem;
  margin: 0 .5rem; }

.section-features {
  font-size: 1.6rem;
  line-height: 2.4rem; }
  .section-features__caption {
    display: flex;
    flex-direction: column; }
  .section-features__name {
    font-weight: 700; }
  .section-features__description {
    font-weight: 400;
    width: 50rem;
    flex-wrap: wrap;
    hyphens: auto; }
  .section-features__img {
    width: 50rem;
    height: 35rem;
    object-fit: cover;
    margin-right: 1.5rem; }
  .section-features__link {
    text-decoration: none;
    color: black; }

.item-showcase {
  font-size: 1.3rem;
  line-height: 1.8rem; }
  .item-showcase:not(:last-child) {
    margin-right: 1.5rem; }
  .item-showcase__caption {
    display: flex;
    justify-content: space-between; }
  .item-showcase__img {
    height: 20rem; }
    .item-showcase__img--big {
      height: 30rem; }
    .item-showcase__img--medium {
      height: 25rem; }
  .item-showcase__name {
    font-weight: 500; }
  .item-showcase__color {
    font-weight: 400;
    font-style: italic; }
  .item-showcase__price {
    font-weight: 500; }
  .item-showcase--mens:not(:last-child) {
    margin-right: 0rem; }

.form-filter {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.226);
  padding-bottom: 3rem;
  margin-right: 6rem; }

input[type=checkbox] + label {
  display: block;
  margin: 0.2rem;
  cursor: pointer;
  padding: 0.2rem; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  content: "\2714";
  font-size: 1.2rem;
  border: .1rem solid #000;
  border-radius: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding-left: .4rem;
  padding-bottom: rem;
  margin-right: 1.5rem;
  vertical-align: middle;
  color: transparent;
  transition: .2s; }

input[type=checkbox] + label:active:before {
  transform: scale(0); }

input[type=checkbox]:checked + label:before {
  background-color: black;
  border-color: black;
  color: #fff; }

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa; }

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb; }

.item-box {
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer; }
  .item-box:not(:last-child) {
    margin-right: 1.5rem; }
  .item-box__img {
    width: 15rem; }
  .item-box--bold {
    border: 1px solid black; }

.review-box {
  display: flex;
  margin: 5rem 0 5rem 0;
  padding-bottom: 10rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199); }
  .review-box > * {
    display: flex;
    flex-direction: column; }
  .review-box__left {
    margin-right: 5rem; }
  .review-box__middle {
    margin-right: auto; }
  .review-box__name, .review-box__verification {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.7rem; }
  .review-box__verification {
    font-weight: 400; }
  .review-box__stars {
    margin-top: 3rem;
    display: flex; }
  .review-box__icon {
    height: 1rem;
    width: 1rem;
    margin: 0 .17rem; }
  .review-box__title, .review-box__paragraph, .review-box__date {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem; }
  .review-box__title {
    margin-bottom: 2rem;
    font-weight: 700; }
  .review-box__paragraph {
    width: 60%; }

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0; }
  .footer > * {
    display: flex;
    justify-content: space-between;
    margin: 5rem 20rem; }
  .footer__top {
    justify-content: flex-start; }
    .footer__top--left {
      margin-right: auto; }
  .footer__paragraph {
    color: #89898a;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem; }
  .footer__form--input {
    background-color: black;
    outline: 1px solid white;
    height: 3rem;
    width: 20rem; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
  .footer__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .footer__link {
    text-decoration: none;
    color: #89898a;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #dbdbdc; }
  .footer__copyright {
    display: flex; }
    .footer__copyright__paragraph--bold {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      color: white;
      margin-right: 1rem; }
    .footer__copyright--link {
      color: #dbdbdc;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      text-decoration: none;
      margin-right: 1rem; }
  .footer__icon {
    height: 2rem;
    width: 2rem;
    fill: white; }

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: background-color .2s; }
  .header__sticky {
    z-index: 9999;
    background-color: white; }
    .header__sticky .navigation__link {
      color: black; }
    .header__sticky .navigation__logo {
      display: none; }
      .header__sticky .navigation__logo--black {
        display: block; }
    .header__sticky .navigation__icon {
      display: none; }
      .header__sticky .navigation__icon--black {
        display: block; }

.navigation {
  display: flex;
  list-style: none;
  background-color: transparent;
  padding: 3rem;
  justify-content: center;
  align-items: center; }
  .navigation__item:not(:last-child) {
    padding-right: 3rem; }
  .navigation__link {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-decoration: none;
    color: white; }
  .navigation__logo {
    height: 2rem; }
    .navigation__logo--black {
      display: none; }
  .navigation__icon {
    height: 1.3rem;
    width: 1.3rem;
    fill: white; }
    .navigation__icon--black {
      display: none; }
  .navigation--black .navigation__icon {
    height: 1.3rem;
    width: 1.3rem;
    fill: black; }
  .navigation--black .navigation__link {
    color: black; }

.section-hero {
  height: 95vh;
  width: 100vw;
  background-image: url(../img/bg-hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10rem; }
  .section-hero__paragraph {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    padding: 2rem 0;
    margin-bottom: 2rem; }

.section-best-sellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem; }
  .section-best-sellers__buttons {
    display: flex; }
  .section-best-sellers__items {
    width: 100%;
    display: flex;
    overflow-x: scroll; }
    .section-best-sellers__items::-webkit-scrollbar {
      display: none; }
    .section-best-sellers__items {
      -ms-overflow-style: none;
      scrollbar-width: none; }
  .section-best-sellers__scroll-buttons {
    display: flex;
    margin-left: auto; }

.section-the-court {
  display: flex; }
  .section-the-court__left {
    flex: 0 0 50%; }
    .section-the-court__left--img {
      width: 100%; }
  .section-the-court__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4rem;
    width: 47%; }
    .section-the-court__right--bottom {
      display: flex;
      overflow-x: scroll; }
      .section-the-court__right--bottom::-webkit-scrollbar {
        display: none; }
      .section-the-court__right--bottom {
        -ms-overflow-style: none;
        scrollbar-width: none; }
  .section-the-court__paragraph {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400; }
  .section-the-court__scroll-buttons {
    display: flex;
    margin-left: auto; }

.section-features {
  margin: 10rem 0; }
  .section-features > * {
    display: flex; }
  .section-features__top {
    flex-direction: column;
    align-items: center; }
  .section-features__bottom {
    margin: 0 5rem;
    width: 95%;
    overflow-x: scroll; }

.section-social {
  display: flex;
  flex-direction: column; }
  .section-social > * {
    margin-bottom: 4rem; }
  .section-social__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem; }
  .section-social__logo-text {
    font-weight: 700; }
  .section-social__phrase {
    font-weight: 400; }
  .section-social__pictures {
    display: flex; }
  .section-social__img {
    width: 20%; }
  .section-social__options {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    line-height: 1.8rem; }
  .section-social__name {
    font-weight: 700; }
  .section-social__description {
    font-weight: 400;
    width: 27rem; }
  .section-social__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem; }

.section-content {
  display: flex;
  padding-top: 10rem; }
  .section-content__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    margin-left: 1rem; }
  .section-content__right {
    display: flex;
    flex-direction: column;
    margin-right: 1rem; }
  .section-content__hero {
    background-image: url(../img/mens-hero.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    padding: 5rem; }
  .section-content__products {
    display: flex;
    flex-direction: column; }
    .section-content__products--header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .section-content__shoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.section-page-number {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  padding-bottom: 7rem;
  border-bottom: 1px solid black; }
  .section-page-number__buttons:not(:last-child) {
    margin-right: 2rem; }

.section-product {
  display: flex; }
  .section-product > * {
    display: flex;
    flex-direction: column; }
  .section-product__left {
    flex: 0 0 65%;
    background-color: whitesmoke; }
    .section-product__left--img-big {
      object-fit: cover; }
    .section-product__left--small-images {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .section-product__left--img-small {
      width: 10rem; }
      .section-product__left--img-small--first {
        margin-left: auto; }
      .section-product__left--img-small--last {
        margin-right: auto; }
  .section-product__right {
    padding-top: 15rem;
    flex: 0 1 35%;
    margin: 0 3rem; }
    .section-product__right--header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem; }
    .section-product__right--title {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .section-product__right--title__price {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem; }
    .section-product__right--payment {
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.185); }
      .section-product__right--payment__bold {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.4rem; }
      .section-product__right--payment__regular {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem; }
    .section-product__right--color {
      padding-top: 2rem;
      padding-bottom: 6rem;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .section-product__right--size {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.8rem; }
      .section-product__right--size > * {
        margin-bottom: 2rem; }
      .section-product__right--size__top {
        display: flex;
        justify-content: space-between; }
      .section-product__right--size__form > * {
        margin-bottom: 2rem; }
      .section-product__right--size__form--select {
        width: 100%;
        height: 5rem;
        cursor: pointer;
        border-radius: 0;
        background-color: #f5f5f5;
        border: none;
        border-bottom: 2px solid #000000;
        padding: 10px;
        padding-right: 38px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; }
    .section-product__right--more {
      display: flex;
      flex-direction: column; }
      .section-product__right--more__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.185); }
      .section-product__right--more__bottom {
        display: flex;
        padding-top: 2rem; }
      .section-product__right--more__paragraph {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 400;
        cursor: pointer; }
        .section-product__right--more__paragraph--bold {
          font-weight: 500;
          cursor: initial; }
  .section-product__stars {
    display: flex; }
  .section-product__icon {
    height: 1.3rem;
    width: 1.3rem; }

.section-text {
  display: flex;
  justify-content: space-around;
  padding: 10rem 3rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400; }
  .section-text__description {
    width: 100%; }
  .section-text__details {
    width: 100%; }
  .section-text__paragraph {
    width: 90%; }

.section-images {
  display: flex;
  justify-content: center;
  padding: 5rem 2rem; }
  .section-images__left {
    height: 50rem; }
  .section-images__middle {
    display: flex;
    flex-direction: column; }
    .section-images__middle--img {
      height: 25rem; }
  .section-images__right {
    height: 50rem; }

.section-feature {
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-feature__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-right: 5rem;
    margin-left: 10rem;
    position: relative; }
    .section-feature__paragraph::before {
      content: "";
      background-position: center;
      background-repeat: no-repeat;
      width: 5rem;
      height: 8rem;
      background-image: url(../img/squiggly-line.png);
      position: absolute;
      top: -8rem; }
    .section-feature__paragraph--right {
      margin-left: 5rem;
      margin-right: 10rem; }
  .section-feature__right {
    flex: 0 1 50%; }
  .section-feature__img {
    width: 49.3vw; }

.section-recommendations {
  margin: 15rem 5rem; }
  .section-recommendations__items {
    display: flex;
    overflow-x: scroll; }
    .section-recommendations__items::-webkit-scrollbar {
      display: none; }
    .section-recommendations__items {
      -ms-overflow-style: none;
      scrollbar-width: none; }
  .section-recommendations__scroll-buttons {
    display: flex;
    justify-content: flex-end; }

.section-reviews {
  display: flex;
  flex-direction: column;
  margin: 0 2rem; }
  .section-reviews__icon {
    height: 2.5rem;
    width: 2.5rem; }

.section-page-number {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  padding-bottom: 7rem;
  border-bottom: 1px solid black; }
  .section-page-number__buttons:not(:last-child) {
    margin-right: 2rem; }
