.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: background-color .2s;

    &__sticky {
        z-index: 9999;
        background-color: white;

        .navigation__link {
            color: black;
        }

        .navigation__logo {
            display: none;

            &--black {
                display: block;
            }
        }
        .navigation__icon {
            display: none;

            &--black {
                display: block;
            }
        }

    }

}

