.navigation {
    display: flex;
    list-style: none;
    background-color: transparent;
    padding: 3rem;


    &__item {
        &:not(:last-child) {
            padding-right: 3rem;
        }
    }
    &__link {
        
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;

    }
}