.navigation {
    display: flex;
    list-style: none;
    background-color: transparent;
    padding: 3rem;
    justify-content: center;
    align-items: center;


    &__item {
        &:not(:last-child) {
        padding-right: 3rem;
        }
    }
    &__link {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.8rem;

        text-decoration: none;
        color: white;

    }

    &__logo {
        height: 2rem;

        &--black {
            display: none;
        }
    }

    &__icon {
        height: 1.3rem;
        width: 1.3rem;
        fill: white;

        &--black {
            height: 1.3rem;
            width: 1.3rem;
            display: none;
            fill: black;
        }
    }

    &--black {
        .navigation__icon {
            height: 1.3rem;
            width: 1.3rem;
            fill: black;
        }

        .navigation__link {
            color: black;
        }
    }

    
}

