.btn {
    display: inline-block;
    height: 3rem;
    width: 20rem;
    background-color: white;
    cursor: pointer;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    
    background: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
    outline: solid 1px white;


    transition: background-position .2s;


    &:hover {
        color: white;
        background-position: left bottom;    
    }
    

    &--black {
        color: white;
        outline: solid 1px black;
        background: linear-gradient(to right, transparent 50%, black 50%);
        background-size: 200% 100%;
        background-position: right bottom;

        &:hover {
            color: black;
            background-position: left bottom;    
        }
    }

    &--white {
        color: black;
        outline: solid 1px white;
        background: linear-gradient(to right, black 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        width: 8rem;

        &:hover {
            color: white;
            background-position: left bottom;    
        }
    }

    

}

.btn--thin {

    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 13rem;
    color: black;
    outline: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 5rem;
    position: relative;



    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        transition: width .3s;
        position: absolute;
        bottom: 0;
    }
    
    &:hover::after {
        width: 0;
        right: 0;

    }

}


.btn--inactive {

    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 13rem;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 5rem;
    transition: all .2s;
}

.btn--underlined {

    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 13rem;
    color: black;
    outline: none;
    border-bottom: 1px solid black;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 5rem;


}
.btn--footer {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgb(61, 61, 61);
    border: none;
}

.btn--arrow,
.btn--plus {
    cursor: pointer;
    border: none;
    background-color: black;
    width: 2rem;
    height: 2rem;
    color: white;
    outline: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 50%;
    padding-bottom: 2.4rem;
    margin: 0 5rem;
}

.btn--color {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;

    &__khaki {
        background-color: rgb(231, 226, 188);
    }

    &__green {
        background-color: rgb(45, 70, 48);
    }

    &__blue {
        background-color: rgb(45, 52, 70);
    }

    &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.418);    
    }
}

.btn--cart {
    width: 100%;
    height: 5rem;
    background-color: rgb(211, 211, 211);
    outline: none;
    border: none;
    color: white;
}