.item-showcase {
    font-size: 1.3rem;
    line-height: 1.8rem;
    scroll-snap-align: start;



    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &__caption {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        height: 20rem;
        width: 20rem;

        &--big  {
            height: 30rem;
            width: 30rem;
        }

        &--medium {
            height: 25rem;
            width: 25rem;
        }
    
    }

    &__name {
        font-weight: 500;
    }

    &__color {
        font-weight: 400;
        font-style: italic;
    }

    &__price {
        font-weight: 500;
    }

    &--mens {
        &:not(:last-child) {
            margin-right: 0rem;
        }
    }


}