.item-box {
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }


    &__img {
        width: 15rem;
    }

    &--bold {
        border: 1px solid rgb(0, 0, 0);

    }


}